* {

     margin: 0;
	 padding: 0;
	 box-sizing: border-box;
  }	 
  
  /* Edita as características gerais da página*/
  body{
	 font-family: 'Poppins', sans-serif; /* Fonte para a página como um todo*/
       }
  
  
  /* Edita a classe de navegação*/
  .navbar{
	  display: flex;
	  align-items: center;
	  padding: 20px; /* Diminui a margem do aba de navegação*/
    }
	
   nav{
       flex: 1;
       text-align: right;
   }   	   
   
   /* Edita as informações dos menus*/
   nav ul{
       display: inline-block;
       list-style-type: none;
	   font-family: Times New Roman;
	   font-size: 20px;
   } 
   /* Edita as informações dos menus*/
    nav ul li{
       display: inline-block;
       margin-right: 25px;
   } 
   
   /* Edita os links do menu*/
   a{
	   text-decoration: #555;
	   color: Black;	   
   }  
   
   /* Edita os links do menu ao passar o mouse sobre eles*/
   a:hover {
        color: AliceBlue;
    }

     /* Edita a tag p pertencente aos paragráfos da página*/
   p{
      color: black;
	  font-family:Times New Roman;
	  font-size: 20px;
    }	  
	
	  /* Edita a classe container*/
	.container{
		max-width: 1300px;
		margin:auto;
		padding-left: 20px;
		padding-right:20px;
	}
	
	  /* Edita a classe row*/
	.row{
		display:flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	
	 /* Edita a classe col-2*/
	.col-2{
		flex-basis:50%;
		min-width:300px;
	}
	
	 /* Edita a classe col-2 img*/
	.col-2 img{
		max-width:100%;
		padding: 40px 0;
	}
	
	 /* Edita a classe col-2 h1*/
	.col-2 h1{
		font-size:50px;
		line-height:20px;
		margin: 25px 0;
	}
	
	
	
	 /* Edita a classe btn*/
	.btn{
		display: inline-block;
		background:	black;
		color:#fff;
		padding:8px 30px;
		margin:20px 0;
		border-radius:30px;
		transition: background 0.5s;
	}
	
	/* Modifica a cor do botão ao passar o mouse por ele pela cor DodgerBlue*/
	.btn:hover{
		background: DodgerBlue;
	}
	
	 /* Edita a classe header*/
	.header{
             background: radial-gradient(white,SlateGray);
	}			 
	
	.header .row {
		margin-top: 70px;
	}
	
	/* Edita a margin das imagens ilustrativas*/
	.categorias{
		margin: 50px 0;
	}
	
    /*Edita a classe das imagens ilustrativas*/
	.col-3{
		flex-basis: 30%;
		min-width:250px;
		margin-bottom:30px;
	}
	
	/*Tenho que revisar o tamanho*/
	.col-3 img{
		width:99%;
	}
	
    /*Edita a classe small-container*/
	.small-container{
     max-width:1080px;
     margin: auto;
     padding-left:35px;
     padding-right:35px;
	}
	
    /*Edita a classe col-4*/ 
    .col-4{
		flex-basis: 25%;
		padding: 0.1px; /*Quanto menor o pixel, maior será a imagem*/
		max-width: 210px;
		margin-bottom: 60px;
		transition: transform 1s;
	}
	
	 /*Edita o tamanho das imagens da classe col-4*/ 
	.col-4 img{
		width: 110%;
	}	
	
	/*Edita a classe titulo*/ 
    .titulo{ 
          text-align: center;
          margin: 0 auto 40px;
          position: relative;
          line-height: 60px;
          color: black;
		  font-weight: bold;
	}
    
	/*Cria a linha abaixo do titulo*/
    .titulo::after{
		     content:'';
			 background:SlateGray;
			 width: 80px;
			 height: 5px;
			 border-radius: 4px;
			 position:absolute;
			 bottom: 0;
			 left: 50%;
			 transform: translateX(-50%);
	}
       
    /*Edita a classe titulo*/ 	   
    h4{
        color:black;
        font-weight: bold;
	}
	
	 /*Edita a classe col-4 p*/ 
	.col-4 p{
		font-size: 15px;
	}

    /*Edita a classe Avalição*/ 
    .Avaliação .fa{
     color:SlateGray;
	}

    /*Cria o efeito hover nas imagens da classe col-4*/
    .col-4:hover{
           transform: translateX(-35px); /* Números negativos irá movimentar pela esquerda*/ 
	}

 /*---------------Oferta-------------------*/

     /*Edita a classe oferta*/ 
    .oferta{
             background: radial-gradient(DarkGray,SlateGray);
			 margin-top:80px;
			 padding: 30px 0;
	} 
	
	/*Edita a tag small do texto do mi brand*/ 
	small{
		color: black;
		font-size: 17x;
		font-weight: bold;
		
	}
	
	.col-2:hover{
		    transform: translateX(-30px);
	}     			
/*--------------- Depoimentos -------------------*/	
	
	.depoimentos{
		padding-top: 100px;
	}
	
	
	/*Cria o box das imagens dos clientes*/ 
	.depoimentos .col-3{
		text-aling: center;
		padding: 40px 20px;
		box-shadow: 0 0 20px 10px rgba(0,0,1,0.2);
		cursor: pointer;
		transition: transform 0.5s;
	}
	
	/*Edita as imagens dos depoimentos dos clientes*/ 
	.depoimentos .col-3 img{		
		width: 90px;     /*Edita o tamanho da imagem*/ 
		margin-top: 20px;
		border-radius: 50%; /*Edita o tamanho da borda*/ 
	}
	
	/*Edita o efeito de elevação das imagens dos depoimentos*/ 
	.depoimentos .col-3:hover{		
		transform: translateY(-30px); /* Quanto maior o número, maior será o efeito de elevação*/
	}
	
	/*Edita o efeito das aspas das imagens dos depoimentos*/ 
	.fa.fa-quote-left{
		font-size:34px;
		color: SlateGray;
	}
	
	/*Edita o textos do depoimentos*/ 
	.col-3 p{
		font-size:17 px;
		margin: 12px 0;
		color: black;
		font-weight: bold;
	}
	
/*--------------- Marcas -------------------*/  

 .marcas {
        margin: 90px auto; /* Quanto maior o valor, mais distante ficará*/
 }	
 
 .col-5 {
         width: 200px; /* Edita a largura das imagens*/
 }

/* Edita as características das imagens*/
 .col-5 img{
    width: 100;
    cursor: pointer;
    filter: grayscale(90%); /* Torna as imagens cinzas */
 }

/* Muda a cor ao passar o mouse nas imagens */
 .col-5 img:hover{
	 filter: grayscale(0%); /*Retira o cinza ao passar as imagens*/
 } 
 
 /* ---------- Rodapé ------------*/
 
 
/* Edita as características do rodape*/
 .Rodape{
	 background:#708090;
	 color: black;
	 font-size: 14px;
	 padding: 20px 0 10px;
 }
 
 
/* Edita as características do paragráfo presente no rodape*/
 .Rodape p{
	 color: black;
	 text-align: center;
 }


/* Edita as características dos textos*/
 .Rodape h3{
	 color: white;
	 margin-bottom:20px;
 }	 
 
 /* Edita as classes*/ 
 .rodape-col-1, .rodape-col-2, .rodape-col-4 {
	min-width: 180px;
    margin-bottom: 20px;
 }

 /* Edita a classe rodape-col-1*/ 
 .rodape-col-1{
	flex-basis:16%; /* Quanto maior o valor, mas para direita a imagem fica*/
 }

/* Edita a classe rodape-col-2*/ 
 .rodape-col-2{
    flex:1;
    text-align: center;
 }

/* Edita a imagem da classe rodape-col-2*/ 
 .rodape-col-2 img{
    width: 290px;
    margin-bottom: 10px;
	margin-left: auto;
    margin-right: auto; 
 }

 ul{
     list-style-type: none;
 }

/* Edita a classe app-logo*/
 .app-logo{
    margin-top: 30px;
 }

/* Edita a classe da imagem app-logo*/
 .app-logo img{
    width: 170px;
 }

/* Edita a classe rodape hr */
 .Rodape hr{
    border: none;
    background: black;
    height: 4px;
    margin: 20px;
 }

/* Edita a classe copyright*/
.copyright{
    text-align: center;
}

/* Edita a classe menu-icon*/
.menu-icon{
    width: 28px;
    margin-left: 20px;
	display: none;
}

/* ------------- Media Query for menu ---------*/

@media only screen and (max-width:800px) { 



   /* Edita a classe nav ul quando reduzimos a tela*/ 
    nav ul {
        position: absolute;
		top: 200px; /* Quanto maior o valor, mais baixo ficará no site*/
		left: 0;
		background: black;
		width: 100%;
	}

    /* Edita a classe nav ul il quando reduzimos a tela*/ 
     nav ul li {
        display: block;
		margin-right: 50px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
    /* Edita a classe nav ul il a mudando a cor dos itens quando reduzimos a tela*/ 
    nav ul li a{
        color: #fff;		
}

    /* Edita a classe menu-icon quando reduzimos a tela*/ 
    .menu-icon{
        display: block;
        cursor: pointer;
    }		
}
 
 

		 